<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{ page.title }}</title>
    <meta name="description" content="" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="stylesheet" type="text/css" href="/css/main.css" />

    <script src="https://use.fontawesome.com/71afee61e5.js"></script>

    <link rel="canonical" href="/{{ page.url }}" />
    <meta name="referrer" content="origin" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/rss/" />
  </head>

  <body class="post-template page-template page">
    {% include social-links.html %}

    <nav class="main-nav clearfix">
      <a class="back-button" href="/"><i class="fa fa-chevron-left"></i>&nbsp;Home</a>
      <a class="subscribe-button" href="/rss/"><i class="fa fa-rss"></i>&nbsp;Abonnieren</a>
    </nav>

    <main class="content" role="main">

      <article class="post page">

        <h1 class="post-title">{{ page.title }}</h1>
        <br>
        <section class="post-content">
          {{ content }}
        </section>
      </article>

    </main>

    {% include footer.html %}

  </body>
</html>
